/* stylelint-disable */

html, body {
  height: 100%;
  background-color: lavender;
}

.shrine-product-card {
  width: 320px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: white;
}

#searchB{
  height: 40px;
  width: 40px;
}

.shrine-product-card__price {
  display: block;
  text-align: right;
}

.shrine-product-card__image {
  margin: 0 auto;
}

#shrine-header {
  background: url(./assets/galaxy.jpg) ;
  background-position: left;
  color: var(--mdc-theme-text-primary-on-background);
}

#shrine-header .mdc-toolbar__section {
  overflow: visible;
}

#shrine-logo {
  background: url(assets/logo.png) left center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* Hide actual text for screen readers */
#shrine-logo > span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#shrine-nav-icon {
  width: 40px;
  height: 40px;
  font-size: 25pt;
  margin-top: 35px;
  margin-right: 40px;
  margin-left: 20px;
  text-decoration: none; 
}

#shrine-nav-icon:visited,
#shrine-nav-icon:active,
#shrine-nav-icon:focus {
  color: lavender;
}

#shrine-nav-menu {
  text-transform: uppercase;
  padding-left: 16px;
}

#shrine-nav-menu .mdc-temporary-drawer__drawer {
  background-color: #fafafa;
}

#shrine-nav-menu .mdc-temporary-drawer__header {
  background: url(https://t4.ftcdn.net/jpg/01/04/87/77/240_F_104877768_fSHff6MoqdTqIUUqwnbyYjDM2Z9TlTzH.jpg) 20px -55px no-repeat;
  background-size: 80%;
}

#shrine-nav-menu .mdc-temporary-drawer__header::before {
  padding-top: 30%;
}



#shrine-nav-menu .mdc-list-item {
  font-size:20pt;
  height: 40px;
  padding-left: 32px;
  letter-spacing: .2em;
}

#shrine-products {
  --mdc-layout-grid-gutter: 8px;
}

#shrine-products .mdc-layout-grid__cell {
  display: flex;
  justify-content: center;
}

#Search{
  
  padding-left: 10%;
  padding-top: 20%;
  
  
}